.navegation{
    background-color: rgb(238,59,125);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.titulos{
    color: rgb(5,178,158);
    text-align: center;
    font-size: 40px;
    font-weight: bolder;

}

.p_titulos{
    color:  rgb(5,178,158);
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

body{
    background-image: url(../IMG/17580.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pie_pagina{
    text-align: center;
}

.tabla{
    margin-left: auto;
    margin-right: auto;
}