.navegation{
    background-color: burlywood;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.titulos{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    font-weight: bolder;

}

.p_titulos{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

body{
    background-image: url(../IMG/pngtree-cute-wind-single-dog-background-material-image_279150.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pie_pagina{
    text-align: center;
}