#n{
    color: rgb(255, 255, 255);
    font-size:70px;
    text-align: center;
}

#dn {
    color: rgb(255, 255, 255);
    font-size:30px;
    
}


.cuerpo{
    background-image : url(..//img/pngtree-cute-wind-single-dog-background-material-image_279150.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}